body{
background-color: black;
color: azure;
}
h1,h3,h2{
text-align: center;
color: rgb(132, 6, 6);
text-shadow: 5px 5px 1 rgb(132, 6, 6);

}
p,ul{
text-align: center;

}
img {
  display: block;
 margin: 100px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(132, 6, 6);
  border-radius: 60px;
  transition: all 0.3s ease;
  
  }
form {
  position: absolute;
  top: 180px;
  left: 55%;
  background: black;
  padding: 60px 40px;
  border: 2px solid rgb(132, 6, 6);
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(132, 6, 6), inset 0 0 10px #300;
  transition: all 0.3s ease;
  width: 280px;
  text-align: center;
}


  ul{
    list-style: none;
    padding: 0;
  }
  li{
    background: gray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
    transition: all 0.3s ease;
  }
  li:hover{
    transform: translateY(-10px);
    background-color: #888;
  }
   img:hover{
    transform: translateY(-10px);
    background-color: #888;
  }
   form:hover{
    transform: translateY(-10px);
    
  }
